* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font: url(images/Norse-Bold.otf);
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.content {
    display: flex;
    column-gap: 50px;
    padding: 20px;
    width: auto;
    height: 670px;
}

/* .leaf_img {
    z-index: -2;
}

.odin_logo {
    z-index: -1;
} */

.textarea {
    display: flex;
    justify-self: center;
    align-self: center;
    margin-top: 70px;
}

form {
    box-shadow: 13px 11px 9px rgba(0, 0, 0, 0.189);
    position: relative;
    top: 150px;
    width: 500px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

button {
    background-color: rgb(3, 193, 85);
    color: white;
    margin-top: 20px;
    border-radius: 14px;
    border: 1px solid rgb(0, 255, 255);
    width: 100px;
    height: 30px;
    margin-bottom: 30px;
}

button:hover {
    background: linear-gradient(70deg, cream);
}

a:visited {
    color: purple;
}

input:invalid {
    border-color: red;
}

input:valid {
    border-color: green;
}

span {
    margin-top: 50px;
    position: relative;
    top: 200px;
}

input {
    text-align: center;
}